* {
    box-sizing: border-box;
}

section {
    background-color: rgb(205, 205, 205);
    width: 500px;
    height: 200px;
    margin: 100px 100px 100px 100px;
}

#exercice1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

h2 {
    margin: 0px;
}

#carre {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 320px;
    bottom: 350px;
    background-color: yellow;
    animation-name: CarreQuiTourne;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes CarreQuiTourne {
    from {background-color: yellow;}
    to {background-color: red;
    transform: rotate(2700deg);}
}

#exercice2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#tube {
    position: absolute;
    bottom: 2%;
    width: 15px;
    height: 120px;
    border: 1px solid darkgreen ;
}

#balle {
    position: absolute;
    top: 462px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    animation-name: BalleQuiRebondit;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes BalleQuiRebondit {
    0% {top: 462px}
    20% {top: 562px;}
    30% {top: 512px;}
    60% {top: 562px;}
    70% {top: 545px;}
    100% {top: 562px;}
}

#exercice3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#loader1 {
    position: absolute;
    top: 780px;
    left: 250px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: black;
    border: 2px black solid;
    animation-name: Loader1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#loader2 {
    position: absolute;
    top: 780px;
    left: 330px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    border: 2px black solid;
    animation-name: Loader2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

#loader3 {
    position: absolute;
    top: 780px;
    left: 410px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    border: 2px black solid;
    animation-name: Loader3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes Loader1 {
    0% {background-color: black;}
    50% {background-color: rgb(180, 180, 180);}
    100% {background-color: white;}
}

@keyframes Loader2 {
    0% {background-color: black;}
    50% {background-color: rgb(180, 180, 180);}
    100% {background-color: white;}
}

@keyframes Loader3 {
    0% {background-color: black;}
    50% {background-color: rgb(180, 180, 180);}
    100% {background-color: white;}
}

#exercice4queue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#carre1 {
    position: absolute;
    top: 1160px;
    left: 570px;
    width: 20px;
    height: 20px;
    background-color: green;
    animation-name: carre1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#carre2 {
    position: absolute;
    top: 1160px;
    left: 570px;
    width: 20px;
    height: 20px;
    background-color: blue;
    animation-name: carre2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

#carre3 {
    position: absolute;
    top: 1160px;
    left: 570px;
    width: 20px;
    height: 20px;
    background-color: red;
    animation-name: carre3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

#carre4 {
    position: absolute;
    top: 1160px;
    left: 570px;
    width: 20px;
    height: 20px;
    background-color: yellow;
    animation-name: carre4;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 4.5s;
}

#carre5 {
    position: absolute;
    top: 1160px;
    left: 570px;
    width: 20px;
    height: 20px;
    background-color: brown;
    animation-name: carre5;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}

#carre6 {
    position: absolute;
    top: 1160px;
    left: 570px;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    animation-name: carre6;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 7.5s;
}

@keyframes carre1 {
    0% {top: 1160px; left: 570px; background-color: green; transform: rotate(3600deg)}
    20% {top: 1160px; left: 120px; background-color: blue;}
    50% {top: 1010px; left: 120px; background-color: red;}
    70% {top: 1010px; left: 570px; background-color: yellow;}
    100% {top: 1160px; left: 570px; background-color: green;}
}

@keyframes carre2 {
    0% {top: 1160px; left: 570px; background-color: blue; transform: rotate(3600deg);}
    20% {top: 1160px; left: 120px; background-color: red;}
    50% {top: 1010px; left: 120px; background-color: yellow;}
    70% {top: 1010px; left: 570px; background-color: brown;}
    100% {top: 1160px; left: 570px; background-color: blue;}
}

@keyframes carre3 {
    0% {top: 1160px; left: 570px; background-color: red; transform: rotate(3600deg);}
    20% {top: 1160px; left: 120px; background-color: yellow;}
    50% {top: 1010px; left: 120px; background-color: brown;}
    70% {top: 1010px; left: 570px; background-color: blueviolet;}
    100% {top: 1160px; left: 570px; background-color: red;}
}

@keyframes carre4 {
    0% {top: 1160px; left: 570px; background-color: yellow; transform: rotate(3600deg);}
    20% {top: 1160px; left: 120px; background-color: brown;}
    50% {top: 1010px; left: 120px; background-color: blueviolet;}
    70% {top: 1010px; left: 570px; background-color: green;}
    100% {top: 1160px; left: 570px; background-color: yellow;}
}

@keyframes carre5 {
    0% {top: 1160px; left: 570px; background-color: brown; transform: rotate(3600deg);}
    20% {top: 1160px; left: 120px; background-color: blueviolet;}
    50% {top: 1010px; left: 120px; background-color: green;}
    70% {top: 1010px; left: 570px; background-color: blue;}
    100% {top: 1160px; left: 570px; background-color: brown;}
}

@keyframes carre6 {
    0% {top: 1160px; left: 570px; background-color: blueviolet; transform: rotate(3600deg);}
    20% {top: 1160px; left: 120px; background-color: green;}
    50% {top: 1010px; left: 120px; background-color: blue;}
    70% {top: 1010px; left: 570px; background-color: red;}
    100% {top: 1160px; left: 570px; background-color: blueviolet;}
}